---
name: CI for main branch

on:
  push:
    branches:
      - main

jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      
      - name: Get short SHA
        id: short_sha
        run: echo ::set-output name=sha::$(git rev-parse --short ${{ github.sha }})

      - name: Build Mongo from source
        env:
          MONGO_VERSION: ${{ vars.MONGO_VERSION }}
          TARGET_ARM: ${{ vars.TARGET_ARM }}
        run: |
          source mongo-build.sh
          build-mongosrc

      - name: 'Upload build artifacts'
        uses: actions/upload-artifact@v3
        with:
          name: build-artifacts
          path: mongo/build/install
